torch==2.1.1
openai==1.11.1
langchain-openai==0.0.3
langchain==0.1.7
langchain-community==0.0.20
gradio==4.19.2
python-dotenv==1.0.1
discord.py==2.3.2
responses==0.18.0
tqdm
cohere==4.51
lru_cache==0.2.3
transformers==4.36.1
qdrant-client==1.7.3
langchain-google-genai>=0.0.9
pytube==15.0.0
openai-whisper==20231117
youtube-transcript-api==0.6.2
uvicorn==0.23.2
injector==0.21.0
python-multipart==0.0.9
BeautifulSoup4==4.12.2